*{
    margin:0;
    padding:0;
    list-style:none;
}
.box{
    width:600px;
    height:600px;
    border:1px solid #000;
    background-image:url('../../6.jpg');
    background-size: 100%;
    margin:0 auto;
}
.box > div{
    width:30px;
    height:30px;
    /*border:1px solid #e4e4e4;*/
    box-sizing:border-box;
    float:left;
}
.food{
    background-image:url('../../4.png');
    background-size: 100%;
}
.snake{
    background-image:url('../../5.png');
    background-size: 100%;
}
.snake1{
    /*background: red;*/
    background-image:url('../../7.png');
    background-size: 100%;
}
h1,h2{
    width:100px;
    height:40px;
    background:red;
    color:#ffffff;
    float:left;
    text-align: center;
    line-height:40px;
    font-size: 16px;
    margin-right: 20px;
}
h3{
    width:100px;
    height:40px;
    background:red;
    color:#ffffff;
    text-align: center;
    line-height:40px;
    font-size: 16px;
    position: absolute;
    left:210px;
    top:100px;
}
.end{
    width:400px;
    height:200px;
    background-color:#fff;
    background-image: url("../../8.png");
    background-size:auto 100%;
    background-repeat: no-repeat;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    opacity: 0;
    transition: opacity 1s linear;
}