
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1487583341137'); /* IE9*/
  src: url('iconfont.eot?t=1487583341137#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1487583341137') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1487583341137') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1487583341137#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianhua:before { content: "\e600"; }

.icon-QQ:before { content: "\e607"; }

.icon-youxiang:before { content: "\e61d"; }

.icon-weixin:before { content: "\e603"; }

.icon-zliconweibo01:before { content: "\e64b"; }

.icon-zuobiao:before { content: "\e6be"; }

