@import url(tongyong.css);

* {
    list-style: none;
}

/*top 一*/
.above {
    width: 100%;
    height: 25px;
    background: #F6F6F6;
    border-bottom: 1px solid #e4e4e4;
}

.above1 {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.above1 a:hover {
    color: #25b2fe;
    text-decoration: none;
}

.above1left {
    border-right: 1px solid #e4e4e4;
    float: left;
    font-size: 12px;
    line-height: 25px;
    padding: 0 12px;
    color: #888888;
}

.above1right {
    float: right;
    font-size: 12px;
    line-height: 25px;
    padding: 0 6px;
    color: #888888;
}

.above > .above1 > img {
    margin-top: 6px;
    padding: 0;
    float: right;
}

.above1right1 {
    float: right;
    font-size: 12px;
    line-height: 25px;
    color: #ddd;
}

.above .above1 #login {
    /*padding-left:20px;*/
    font-size: 12px;
    line-height: 25px;
    /* color:red; */
    color: #e40077;
}

.above .above1 .fh:hover #login {
    /* color:#0085d0; */
    color: #25b2fe;
    background: #fff;
}

.above .above1 #room {
    /*padding-left:18px;*/
    font-size: 12px;
    line-height: 25px;
}

.above .above1 .fh:hover #room {
    background: #fff;
}

.above .above1 .fh div:hover #room {
    color: #25b2fe;
    background: #fff;
}

.above > .above1 > div:last-child > div {
    width: 170px;
    height: 120px;
    padding: 18px 0 12px;
    background: #fff;
    position: absolute;
    left: 882px;
    top: 25px;
    box-sizing: border-box;
    z-index: 10;
    display: none;
}

.above > .above1 > div:last-child > div > h1 {
    width: 128px;
    height: 33px;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    padding: 0 5px;
    font-size: 14px;
    text-align: center;
    line-height: 33px;
    color: #25B2FE;
    margin: 5px auto 10px auto;
}

.above > .above1 > div:last-child > div > h1:hover {
    border: 1px solid #25b2fe;
    background: #25b2fe;
    color: #fff;
}

.fh > div {
    width: 160px;
    height: 155px;
    padding: 18px 0 12px;
    background: #ffffff;
    position: absolute;
    left: 937px;
    top: 25px;
    box-sizing: border-box;
    z-index: 11;
    display: none;
}

.fh > div > img {
    display: block;
    margin: 0 auto;
}

.fh > div > p {
    width: 160px;
    height: 25px;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
}

/*top 一 结束*/
/*top 二*/
.logo {
    width: 1200px;
    height: 92px;
    margin: 0 auto;
    position: relative;
}

.manycity {
    position: absolute;
    top: 60px;
    left: 280px;
    background: #fff;
    width: 540px;
    height: 86px;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 100;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: none;
}

.shanxi {
    width: 500px;
    height: 35px;
    padding: 7px 0;
    box-sizing: border-box;
}

.shanxi > h6 {
    width: 24px;
    height: 21px;
    font-size: 12px;
    line-height: 21px;
    float: left;
}

.shanxi > a {
    display: block;
    height: 21px;
    font-size: 12px;
    color: #0085D0;
    float: left;
    line-height: 21px;
    margin-left: 10px;
    font-weight: bold;
}

.manycity > ul {
    width: 500px;
    height: 35px;
    padding: 7px 0;
    box-sizing: border-box;
}

.manycity > ul > li {
    width: 44px;
    height: 17px;
    box-sizing: border-box;
    padding: 0 10px;
    float: left;
}

.manycity > ul > li > a {
    font-size: 12px;
    color: #000000;
}

.manycity > ul > li > a:hover {
    text-decoration: underline;
    color: #0085d0;
}

.logo .logo1 {
    width: 575px;
    line-height: 92px;
    float: left;
}

.logo .logo2 {
    width: 625px;
    float: left;
}

.logo .logo1 a img {
    margin-top: 25px;
    float: left;
}

.logo .logo1 .city {
    width: 50px;
    height: 30px;
    float: left;
    margin-left: 20px;
    margin-top: 30px;
    cursor: pointer;
}

.logo .logo1 .city > h1 {
    font-size: 14px;
    font-weight: 400;
    width: 30px;
    height: 30px;
    float: left;
    line-height: 30px;

}

.xiaosanjiao {
    width: 10px;
    float: left;
    height: 10px;
    border: 5px solid #fff;
    border-top: 5px solid #000000;
    box-sizing: border-box;
    float: left;
    margin-left: 3px;
    margin-top: 12px;
}

.logo .logo2 form {
    width: 571px;
    height: 42px;
    margin-top: 20px;
    float: left;
}

.logo .logo2 form input {
    width: 484px;
    height: 28px;
    border: 2px solid #e4e4e4;
    font-size: 14px;
    text-indent: 10px;
    color: rgb(204, 204, 204);
    float: left;
}

.logo .logo2 form a {
    display: block;
    width: 83px;
    height: 32px;
    float: left;
    text-align: center;
    background: #25B2FE;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
}

.logo .logo2 .logo2- a {
    float: left;
    margin-right: 20px;
    font-size: 12px;
}

.logo .logo2 .logo2- .logo2-1 {
    /* color:red; */
    color: #e40077;
}

.logo .logo2 .logo2- .logo2-2 {
    color: black;
}

.logo .logo2 .logo2- a:hover {
    color: #0085d0;
    text-decoration: underline;
}

/*top 二 结束*/
/*top 三*/
.top {
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    position: relative;
}

.top > .top1, .top > .top2 {
    background: #e4e4e4;
    float: left;
}

.top1 {
    width: 159px;
    height: 100%;
}

.top1 {
    color: #0085d0;
    border-top: 2px solid #0085d0;
    box-sizing: border-box;
}

.top1 a#lan {
    color: #0085d0;
    font-weight: bold;
}

.top2 {
    width: 259px;
    height: 100%;
    margin-left: 1px;
}

.top a {
    color: #000;
}

.top > .top1:hover, .top > .top2:hover {
    background: #f3f3f3;

}

.top > .top1:hover, .top > .top2:hover #w1 {
    color: #0085d0;
}

.top > .top1 > a:hover, .top > .top2 > a:hover {
    color: #0085d0;
}

.top > .top2 > ul {
    width: 1200px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 40px;
    background: #fff;
    z-index: 5;
    display: none;
}

.top > .top2 > ul > li {
    width: 170px;
    height: 100%;
    float: left;
}

.top > .top2 > ul > li > a {
    font-size: 14px;
}

.top > .top2 > ul > li > a:hover {
    color: #0085d0;
}

.top > .top2 > .jiao {
    width: 14px;
    height: 16px;
    /*background:red;*/
    border: 8px solid rgba(0, 0, 0, 0);
    border-bottom: 8px solid #ffffff;
    position: absolute;
    left: 285px;
    top: 24px;
    box-sizing: border-box;
    display: none;
}

.top > .top2 > .j2 {
    left: 544px;
}

.top > .top2 > .j3 {
    left: 803px;
}

.top > .top2 > .j4 {
    left: 1062px;
}

/*top 三 结束*/
/*banner开始*/
.topunder {
    width: 1200px;
    height: 350px;
    margin: 7px auto;
    /*
        background:red;*/
}

/*左*/
.catalog {
    width: 160px;
    height: 348px;
    float: left;
    border: 1px solid #B8D9E9;
}

.catalog li {
    list-style: none;
    width: 138px;
    height: 62px;
    text-align: center;
    line-height: 63px;
    margin-left: 11px;
    border-bottom: 1px solid #e4e4e4;
}

.catalog #l4 {
    border: none;
}

.topunder .catalog li a {
    color: black;
}

.topunder .catalog li a:hover {
    color: #0085d0;
}

.topunder .catalog .catalog1 {
    height: 24px;
    line-height: 24px;
    margin-top: 11px;
}

.topunder .catalog .catalog1 a {
    font-size: 12px;
    text-align: center;
    line-height: 24px;
}

.topunder .catalog img {
    float: left;
    margin-top: 23px;
    margin-left: 23px;
}

/*左结束*/
/*中*/
.banner {
    width: 740px;
    height: 350px;
    float: left;
    margin-left: 10px;
    overflow: hidden;
}

.banner ul {
    position: relative;
    cursor: pointer;
}

.banner ul li {
    list-style: none;
    position: absolute;
    left: 740px;
    right: 0;
}

.banner > ul > li:nth-child(1) {
    left: 0;
}

.banner ul .first {
    z-index: 1;
}

.banner .left, .banner .right {
    width: 30px;
    height: 70px;
    line-height: 70px;
    font-family: "宋体";
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    position: absolute;
    z-index: 2;
    margin-top: 140px;
    text-align: center;
    cursor: pointer;
    font-size: 36px;
}

.banner .right {
    margin-left: 710px;
}

.banner .circle {
    width: 140px;
    height: 15px;
    position: absolute;
    z-index: 2;
    margin-left: 312px;
    margin-top: 330px;
}

.banner .circle .circle1 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #D3D3D3;
    margin-right: 5px;
    float: left;
    cursor: pointer;
}

.banner .circle .pink {
    background: #D40771;
}

/*中结束*/
/*右*/
.box {
    width: 276px;
    height: 348px;
    float: right;
    border: 1px solid #e4e4e4;
}

.box1 {
    width: 276px;
    height: 170px;
}

.box .box1 .box11 {
    width: 80px;
    height: 77px;
    margin: 8px 6px;
    float: left;
}

.box .box1 .box11 img {
    display: block;
    margin: 0 auto;
    margin-top: 11px;
    margin-bottom: 7px;
}

.box .box1 .box11 a span {
    margin-left: 17px;
    font-size: 12px;
    color: #4e4e4e;

}

.box .box1 .box11 a #country {
    margin-left: 7px;
}

.box2 {
    width: 256px;
    height: 150px;
    padding: 20px 10px 10px 10px;
}

.topunder .box .box2 .czjf-1 {
    float: left;
    margin-left: 13px;
    font-size: 15px;
}

.topunder .box .box2 .czjf-2 {
    float: right;
    margin-right: 12px;
    font-size: 15px;
    color: red;
}

.topunder .box .box2 .czjf-3 input {
    width: 227px;
    height: 34px;
    margin-left: 12px;
    margin-right: 15px;
    margin-top: 9px;
    color: rgb(51, 51, 51);
    /*border-radius: 3px;*/
}

.topunder .box .box2 .czjf-4 {
    margin-left: 12px;
}

.topunder .box .box2 .czjf-4 a li {
    list-style: none;
    float: left;
    width: 41px;
    height: 36px;
    margin-right: 4px;
    margin-top: 7px;
    border: 1px solid #e4e4e4;
    text-align: center;
    line-height: 36px;
    border-radius: 3px;
}

.topunder .box .box2 .czjf-4 a li span {
    line-height: 36px;
    margin-left: 4px;
    font-size: 12px;
}

.topunder .box .box2 .czjf-4 a #moren {
    background: #e40077;
}

.topunder .box .box2 .czjf-4 li:hover {
    background: #e40077;
}

.topunder .box .box2 .czjf-4 li:hover span {
    color: #fff;
}

.topunder .box .box2 .czjf-4 a #moren span {
    color: #fff;
}

.topunder .box .box2 .czjf-5 {
    float: left;
    margin-left: 94px;
    margin-top: 10px;
    width: 78px;
    height: 34px;
    background: #33ACFB;
    line-height: 34px;
    text-align: center;
    font-size: 13px;
}

.topunder .box .box2 .czjf-5 a {
    color: #fff;
}

.topunder .box .box1 #box111 {
    position: relative;
}

.topunder .box .box1 .box11 .cricle {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: #E40077;
    position: absolute;
    left: 43px;
    top: 1px;
    z-index: 3;
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
}

/*右结束*/
/*banner结束*/
/*滚动栏*/
.box3 {
    width: 1200px;
    height: 180px;
    background: #DFDFDF;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.scroll {
    /*1186*/
    /*width:1186px;*/
    width: 2400px;
    height: 170px;
    background: #DFDFDF;
    margin: 0 auto;
    padding-left: 14px;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.scroll li {
    width: 285px;
    height: 160px;
    list-style: none;
    background: #fff;
    margin-right: 12px;
    float: left;
}

.scroll li h1 {
    width: 275px;
    height: 20px;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 10px;
}

.scroll li h2 {
    width: 275px;
    height: 14px;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 6px;
    color: #666666;
    font-weight: normal;
}

.scroll li img {
    float: right;
}

.box3 > .left, .box3 > .right {
    width: 28px;
    height: 35px;
    line-height: 35px;
    font-family: "宋体";
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 10;
    top: 50%;
    margin-top: -16px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.box3 > .left {
    left: 0;
}

.box3 > .right {
    right: 0;
}

/*滚动栏结束*/
/*4g专区*/
.area {
    width: 1148px;
    height: 48px;
    margin: 10px auto 0 auto;
    border: 1px solid #e4e4e4;
    padding: 0 25px;
}

.area span {
    float: left;
    font-size: 15px;
    color: #0085d0;
    line-height: 48px;
}

.area a {
    float: right;
    line-height: 48px;
    font-size: 13px;
    color: black;
    display: block;
}

.area a:hover {
    color: #0085d0;
    text-decoration: underline;
}

.area1 {
    width: 1200px;
    height: 380px;
    margin: 0 auto;
}

.area1 a .tupian {
    float: left;
    width: 298px;
    height: 379px;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.area1 ul li {
    float: left;
    width: 299px;
    height: 189px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;;
    list-style: none;
}

.area1 ul li a h1 {
    font-size: 18px;
    font-weight: normal;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
}

.area1 ul li a h2 {
    font-size: 14px;
    font-weight: normal;
    color: gray;
    margin-left: 20px;
}

.area1 ul li a img {
    float: right;
}

.area1 ul li a h3 {
    font-size: 18px;
    font-weight: normal;
    color: red;
    margin-left: 20px;
    margin-top: 10px;

}

.area1 ul .background {
    background: #EFEFEF;
}

/*4g专区结束*/
/*买手机*/
.shop {
    width: 1148px;
    height: 48px;
    border: 1px solid #e4e4e4;
    margin: 0 auto;
    line-height: 48px;
    padding: 0 25px;
    margin-top: 10px;
}

.shop span {
    float: left;
    font-size: 15px;
    color: #0085d0;
}

.shop a {
    float: right;
    font-size: 13px;
    color: black;
    text-decoration: none;
}

.shop a:hover {
    color: #0085d0;
    text-decoration: underline;
}

.phone {
    width: 1200px;
    height: 382px;
    margin: 0 auto;
    position: relative;
}

.phone1 {
    width: 299px;
    height: 381;
    border-left: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    list-style: none;
    font-family: "微软雅黑";
    float: left;
}

.phone .phone1 h1 {
    width: 274px;
    height: 20px;
    padding-left: 25px;
    padding-top: 20px;
    font-size: 14px;
    color: black;
    font-weight: normal;
}

.phone .phone1 h2 {
    width: 274px;
    height: 20px;
    padding-left: 25px;
    font-size: 14px;
    color: #0085d0;
    font-weight: normal;
}

.phone .phone1 h3 {
    width: 274px;
    height: 40px;
    padding-left: 25px;
    font-size: 20px;
    color: #EF33A4;
    font-weight: normal;
    margin-top: 18px;
}

#last {
    width: 298px;
    border-right: 1px solid #e4e4e4;
}

.phone .phone1 img {
    float: right;
}

.phone .phone1 a #hot {
    position: absolute;
    left: 530px;
    top: 25px;
    z-index: 4;
}

.phone .phone1 a div {
    position: absolute;
    left: 538px;
    top: 34px;
    z-index: 4;
    font-size: 15px;
    color: #fff;
}

.phone .phone1 a #low {
    position: absolute;
    left: 1128px;
    top: 25px;
    z-index: 4;
}

.phone #last a div {
    position: absolute;
    left: 1136px;
    top: 34px;
    z-index: 4;
    font-size: 15px;
    color: #fff;
}

/*买手机结束*/
/*业务推荐*/
.area1 ul .background1 {
    background: #fff;
}

/*业务推荐结束*/
/*公告栏*/
.news {
    width: 1148px;
    height: 36px;
    border: 1px solid #e4e4e4;
    margin: 10px auto;
    padding: 0 25px;
    line-height: 36px;
}

.news img {
    float: left;
    margin: 11px;
}

.news > .a {
    display: block;
    float: left;
    /*background: red;*/
    position: relative;
    width: 300px;
    height: 36px;
}

.news > .a > a {
    font-size: 15px;
    width: 300px;
    height: 36px;
    line-height: 36px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    color: #0085d0;
}

.news .biaoti, .news .biaoti-, .news .biaoti--, .news .biaoti--- {
    float: left;
    font-size: 15px;
}

.news > .a > .hi {
    display: block;
}

.news .biaoti-- {
    display: none;
}

.news .hi {
    display: block;
}

.news .biaoti-- {
    margin-left: 26px;
    color: #D3DAE8;
}

.news .biaoti--- {
    margin-left: 120px;
}

.news .last {
    font-family: "宋体";
    float: right;
}

.news .biaoti-, .news a, .news .biaoti---, .news .a-, .news .last {
    color: blue;
}

/*公告栏结束*/
/*bottomtop*/
/*.bottomtop{
	width:1160px;
	height:187px;
	border:1px solid #e4e4e4;
	margin:0 auto;
	padding:21px 0 21px 38px;
	font-weight:bold;
}
.bottomtop li{
	list-style:none;
	width:232px;
	height:27px;
	float:left;
}
.bottomtop li a{
	font-weight:normal;
	color:#666;
}
.bottomtop li a:hover{
	color:#007bc7;
	text-decoration:underline;
}*/
.big {
    width: 1160px;
    height: 187px;
    border: 1px solid #e4e4e4;
    margin: 0 auto;
    padding: 21px 0 21px 38px;
}

.big ul {
    list-style: none;
    width: 232px;
    height: 163px;
    float: left;
}

.big ul li {
    width: 232px;
    height: 27px;
    line-height: 27px;
    font-size: 14px;
}

.big ul .top {
    font-weight: bold;
    width: 232px;
    height: 27px;
    text-align: left;
    color: #666;
    font-size: 14px;
}

.big ul li a {
    color: #666;
}

.big ul li a:hover {
    color: #007bc7;
    text-decoration: underline;
}

/*bottomtop结束*/
/*bottom*/
.bottom {
    width: 100%;
    height: 178px;
    padding: 25px 0 25px 0;
}

.bottom .one {
    width: 632px;
    height: 33px;
    margin: 0 auto;
    line-height: 33px;
    font-size: 12px;
}

.bottom .one a, .bottom .one div {
    float: left;
    height: 16px;
    color: #666;
}

.bottom .one div {
    width: 9px;
    padding: 0 0 0 7px;
}

.bottom .one a:hover {
    color: #007bc7;
    text-decoration: underline;
}

.bottom .two {
    width: 569px;
    height: 33px;
    margin: 0 auto;
    line-height: 33px;
    font-size: 12px;
}

.bottom .two a {
    color: #666;
}

.bottom .two a:hover {
    text-decoration: underline;
    color: #007bc7;
}

.bottom .two div, .bottom .two a {
    float: left;
    margin-left: 3px;
}

.bottom .three {
    width: 100%;
    height: 22px;
    text-align: center;
    font-size: 12px;
    line-height: 22px;
}

.bottom .four {
    width: 100%;
    height: 33px;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    line-height: 33px;
}

.bottom .four {
    width: 100%;
    height: 47px;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    line-height: 47px;
}

.five {
    width: 100%;
    height: 47px;
    margin-top: 10px;
}

.five .five- {
    float: left;
    padding-left: 546px;
}

.five .-five {
    float: left;
    padding-left: 5px;
    margin-top: 11px;
}

.five a {
    font-size: 12px;
    line-height: 47px;
    color: #666;
}

.five a:hover {
    color: #007bc7;
    text-decoration: underline;
}

/*bottom结束*/
/*在线客服*/
.zxkf img:nth-child(1) {
    position: fixed;
    bottom: 220px;
    right: 0px;
}

.zxkf #kf {
    position: fixed;
    bottom: 80px;
    right: -84px;
    z-index: 4;
}

.zxkf img:nth-child(3) {
    position: fixed;
    bottom: 140px;
    right: -24px;
    transition: right 0.25s linear;
}

.zxkf img:nth-child(4) {
    position: fixed;
    bottom: 110px;
    right: -24px;
    transition: right 0.25s linear;
}

.zxkf img:nth-child(5) {
    position: fixed;
    bottom: 80px;
    right: -24px;
    transition: right 0.25s linear;
}

.zxkf img:nth-child(2) ~ img:hover {
    right: 40px;
}

/*在线客服结束*/
ul > li > a > img {
    transition: all 0.25s linear;
}

ul > li > a > img:hover {
    transform: translateX(-10px);
}

ul > li > a > img + img:hover {
    transform: translateX(0px);
}